@import "tailwindcss";

:root {
  --background: #faf9f9;
  --foreground: #171717;

  --custom-text-color: #131b2e;
  --primary-color: #384cd0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-custom-text: var(--custom-text-color);
  --primary-btn: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faf9f9;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
